.tasks-list {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 1rem 0;
  width: 100%;
  min-width: 625px;

  @media screen and (max-width: 1800px) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @media screen and (max-width: 1440px) {
    grid-template-columns: 1fr 1fr;
  }

  @media screen and (max-width: 990px) {
    grid-template-columns: 1fr;
  }
}
